.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.unorderedList {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
    padding: 20px 0;
    margin: 0;
}
